html,
body {
    background-color: #f0f0f0 !important;
}

p,
span {
    color: #212529;
}

h1,
h2 {
    color: #1b3956;
}

.bg-principal {
    background-color: #f0f0f0 !important;
}

::placeholder {
    color: #333333;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #333333;
}

::-ms-input-placeholder {
    color: #333333;
}

.topo {
    width: 100%;
    background-color: #f8f8f8;
    position: absolute;
    padding: 20px 0px 10px 0px;
}

.titulo-pagina {
    padding: 100px 0px 60px 0px;
    background-color: #2a9ee2;
    text-align: center;
}

.titulo-pagina-2 {
    padding: 70px 0px 10px 0px;
    margin-bottom: 10px;
    background-color: #2a9ee2;
    text-align: center;
}

.informacao-pagina {
    text-align: center;
    margin-top: 30px;
}

.informacao-pagina p {
    color: #333;
}

.rodape {
    width: 100%;
}

.redes-sociais,
.area-contato,
.localizacao {
    width: 33.333%;
    border-top: solid 1px #ccc;
    float: left;
    text-align: center;
    background-color: #f8f8f8;
    height: 250px;
}

.redes-sociais,
.area-contato,
.localizacao p,
span {
    color: #333333;
}

.redes-sociais img {
    margin: 0px 15px 0px 15px;
}

.pagination li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

.pagination ul {
    list-style-type: none;
}

.required::after {
    content: " *";
    color: red;
}

.cursor-pointer {
    cursor: pointer;
}

.w-90 {
    width: 90% !important;
}

.w-30 {
    width: 30% !important;
}


.color-social-icon {
    color: #1b3956;
}

@media (max-width: 992px) {
    .w-30 {
        width: 80% !important;
    }
}

@media (max-width: 500px) {
    .w-30 {
        width: 80% !important;
    }
}